extends base
block content
  main.main-content
    .recom-mov-div
  
      h2= `${person.Name}`
    .recom-mov-Container
   
      .card
        .mov-img-con
          img(class="movie-img" src=`${person.movie.Poster}` alt="Movie Image")
          
          h3.mov-title= `Role:  ${person.Role}`
          var#userId= `${user.id}`
          button.details-btn
            a(href=`/movie/${person.movie.slug}`) Details
          if user.followedPeople.includes(person.Name)
            button.followedPerson-btn
              a(href='#' name=`${person.Name}`)=`Unfollow ${person.Name}`
          else
            button.followedPerson-btn
              a(href='#' name=`${person.Name}`)=`Follow ${person.Name}`
            
          